.card__btn {
    border: none;
    background-color: var(--color-primary-dark);
    padding: 1rem 2rem;
    border-radius: 5px;
    color: #fff;
    box-shadow: 0 3px 15px rgba(0, 0, 0, .2);
    font-size: 1.4rem;
    cursor: pointer;
}